<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body style="background-color:#66ccff;">
<nav class="navbar navbar-default" style="border-bottom:1px solid gray;box-shadow: 4px 8px 4px rgba(80, 80, 80, .5);">
    <div class="container-fluid">
        <div class="col-lg-1 col-md-1"></div>
        <div class="navbar-header" style="padding:0px;">
            <a class="navbar-brand" href="#" style="color:black;"><img
                    src="https://www.clipartsgram.com/image/2000496427-new-building-md.png" alt="building"
                    height="40px;"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/game">Game</a></li>
            <li><a href="/update" style="color:black;">Player Settings</a></li>
            <li><a href="/logout" style="color:black;">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container" style="background-color:white;border-radius:10px;border:1px solid gray;padding:12px;padding-top:26px;">

    <form class="form-horizontal" method="POST" action="/update">
        <div class="container">
            <h2>Update Player:</h2>
        </div><br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-info" style="border:1px solid gray;">Submit</button>
            </div>
        </div>

    </form>
</div>

</body>
</html>